@font-face {
  font-family: 'Lato Thin';
  src: url('./fonts/Lato-Thin.ttf') format('truetype'),
       url('./fonts/Lato-Thin.woff2') format('woff2'),
       url('./fonts/Lato-Thin.woff') format('woff'),
       url('./fonts/Lato-Thin.svg#latothin') format('svg');
}

@font-face {
  font-family: 'Lato Light';
  src: url('./fonts/Lato-Light.ttf') format('truetype'),
       url('./fonts/Lato-Light.woff2') format('woff2'),
       url('./fonts/Lato-Light.woff') format('woff'),
       url('./fonts/Lato-Light.svg#latolight') format('svg');
}

body {
  color: #fff;
  font-family: 'Lato Light';
  font-size: 28px;
  text-align: center;
  user-select: none;
}

body.darwin {
  font-family: 'Lato Thin';
}

.linux .linux-hidden,
.freebsd .linux-hidden,
.openbsd .linux-hidden {
  display: none;
}

.microbreak,
.about,
.welcome,
.tutorial {
  margin: 0 auto;
  max-width: 80%;
  padding-top: 10%;
}

.microbreak .center-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 80%;
}

.tutorial,
.welcome {
  padding-top: 5px;
}

.color-scheme {
  padding-top: 20px;
}

.scheme,
.enabled {
  display: inline-block;
  font-size: 20px;
  text-align: center;
}

.scheme {
  vertical-align: top;
  width: 130px;
}

.color,
.audio {
  box-shadow: 0 0 1px 1px rgba(250, 250, 250, 0.2);
  height: 20px;
  margin: 5px auto;
  width: 20px;
}

.pointer,
a {
  cursor: pointer;
}

.break-idea,
.microbreak-idea,
.about-name,
.welcome-name,
.tutorial-title {
  font-size: 70px;
}

.debug {
  font-family: monospace;
  font-size: 12px;
  opacity: 0.6;
  padding-top: 40px;
  text-align: left;
  user-select: text;
  visibility: hidden;
}

.break-text {
  padding-top: 5%;
}

.previous,
.next {
  font-size: 60px;
  position: absolute;
  top: 35%;
}

.previous {
  left: 20px;
}

.next {
  right: 20px;
}

.previous a,
.next a {
  font-size: 90px;
  text-decoration: none;
}

.settings {
  padding-left: 30px;
  padding-right: 30px;
}

a {
  color: #fff;
}

#postpone,
#close,
#about-footer,
#defaults,
#skip {
  bottom: 20px;
  color: #fff;
  font-size: 18px;
  left: 50%;
  position: absolute;
  text-decoration: none;
  transform: translateX(-50%);
}

#postpone,
#close {
  visibility: hidden;
}

progress {
  height: 5px;
  margin-top: 40px;
}

#progress-time {
  font-size: 15px;
  margin: 7px 0 0;
}

.strict {
  font-size: 16px;
  text-align: right;
}

.about-stretchly,
.welcome-stretchly {
  font-size: 18px;
  padding-top: 60px;
  text-decoration: none;
}

select  {
  padding: 5px 3px 5px 10px;
}

.tutorial-image {
  align-items: center;
  display: flex;
  max-height: 50vh;
  min-height: 40vh;
  justify-content: center;
  margin: 10px auto;
}

.tutorial img {
  max-width: 60%;
}

.tutorial {
  font-size: 1.6rem;
}

.contributor-settings .normal {
  font-size: 20px;
}

.contributor-settings .heading {
  font-size: 28px;
}
