@font-face {
  font-family: 'Lato Hairline';
  src: url('./fonts/Lato-Hairline.ttf')
}

@font-face {
  font-family: 'Lato Thin';
  src: url('./fonts/Lato-Thin.ttf')
}

@font-face {
  font-family: 'Lato Light';
  src: url('./fonts/Lato-Light.ttf')
}

body {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-family: 'Lato Hairline'
}

.microbreak,
.about {
  padding-top: 10%;
  max-width: 80%;
  margin: 0 auto;
}

.color-scheme {
  padding-top: 20px;
}

.scheme,
.enabled,
.fullscreen {
  display: inline-block;
  text-align: center;
  width: 130px;
  font-size: 20px;
}

.enabled,
.fullscreen {
  width: 300px;
}

.color,
.audio {
  width: 20px;
  height: 20px;
  margin: 5px auto;
  box-shadow: 0 0 1px 1px rgba(250, 250, 250, 0.2)
}

.pointer,
a {
  cursor: pointer;
}

.break-idea,
.microbreak-idea,
.about-name {
  font-size: 70px;
}

.break-text {
  padding-top: 5%;
}

.previous,
.next {
  position: absolute;
  top: 35%;
  font-size: 60px;
}

.previous {
  left: 20px;
}

.next {
  right: 20px;
}

.previous a,
.next a {
  text-decoration: none;
  font-size: 90px;
}

a {
  color: #fff;
  font-family: 'Lato Light'
}

#close,
#about-footer,
#defaults {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  text-decoration: none;
  font-family: 'Lato Light';
}

#close {
  visibility: hidden;
}

progress {
  height: 5px;
  margin-top: 40px;
}

#progress-time {
  margin: 7px 0 0;
  font-size: 15px;
}

.strict {
  font-size: 16px;
  text-align: right;
}

.about-stretchly {
  font-size: 18px;
  text-decoration: none;
  font-family: 'Lato Thin';
  padding-top: 60px;
}
