@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Hairline.ttf')
}

body {
  color: #fff;
  background-color: #478484;
  text-align: center;
  font-size: 28px;
  font-family: 'Lato'
}

.microbreak,
.about {
  padding-top: 60px;
  max-width: 550px;
  margin: 0 auto;
}

.microbreak-idea,
.about-name {
  font-size: 70px;
}

#close,
#about {
  color: white;
  opacity: 0.7;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  text-decoration: none;
}
