@font-face {
  font-family: 'Lato Hairline';
  src: url('./fonts/Lato-Hairline.ttf')
}

@font-face {
  font-family: 'Lato Thin';
  src: url('./fonts/Lato-Thin.ttf')
}

body {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-family: 'Lato Hairline'
}

.microbreak,
.about {
  padding-top: 60px;
  max-width: 550px;
  margin: 0 auto;
}

.color-scheme {
  padding-top: 20px;
}

.scheme {
  display: inline-block;
  text-align: center;
  width: 130px;
  font-size: 20px;
}

.color,
.audio {
  width: 20px;
  height: 20px;
  margin: 5px auto;
  box-shadow: 1px 1px 10px 0 rgba(50, 50, 50, 0.6);
}

.pointer {
  cursor: pointer;
}

.microbreak-idea,
.about-name,
.start-name {
  font-size: 70px;
}

#close,
#about-footer {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  text-decoration: none;
  font-family: 'Lato Thin';
}

.about-stretchly {
  font-size: 18px;
  text-decoration: none;
  font-family: 'Lato Thin';
  padding-top: 60px;
}
