body {
  font-family: "Open Sans";
  background: #EDEDED;
}

body > div > :last-child {
  margin-bottom: 56px;
}

.navigation {
  padding: 0 16px;
  display: grid;
  grid-template: 56px/ minmax(57px, min-content) minmax(57px, min-content) minmax(57px, min-content) minmax(57px, min-content) auto;
  grid-gap: 16px;
  background-image: linear-gradient(180deg, #EDECED 1%, #D2D1D2 97%);
  box-shadow: inset 0 0 0 0 rgba(255,255,255,0.50), inset 0 0 0 0 #B7B4B7, inset 0 -1px 0 0 rgba(183,180,183,0.30);
  border-radius: 4.5px 0 0 4px;
}

.navigation > a > div {
  height: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 11px;
  color: #2E2C2E;
  letter-spacing: 0.07px;
  text-align: center;
}

.navigation > a > div > span {
  padding: 0 2px;
}

.navigation .active {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 0 0;
}

.navigation a {
  text-decoration: none
}

.navigation > :nth-child(5) {
  justify-self: end;
}

.navigation > a > div > img {
  height: 32px;
  width: 32px;
}

body > .hidden,
.heart > .hidden {
  display: none;
}

.settings {
  display: grid;
  grid-template: auto / 89px auto 16px;
  grid-gap: 20px 0;
  font-size: 13px;
  color: #252525;
  letter-spacing: -0.08px;
  padding-top: 30px;
}

.settings > div {
  grid-column: 2/-2;
}

.settings > :nth-child(3) {
  padding-left: 80px;
}

.settings > :nth-child(3) > label {
  margin-right: 32px;
}

.schedule {
  display: grid;
  grid-template: auto / 25% auto 16px;
  grid-gap: 16px 0;
  font-size: 13px;
  color: #252525;
  letter-spacing: -0.08px;
  padding-top: 30px;
}

.schedule > div {
  grid-column: 2/-2;
}

.schedule > div > p {
  margin: 0;
  max-width: 280px;
}

.schedule > :nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/6;
  padding: 0 16px;
  text-align: right;
}

.schedule > :nth-child(9) {
  grid-column: 1/2;
  grid-row: 8/12;
  padding: 0 16px;
  text-align: right;
}
.schedule > :nth-child(17) {
  grid-column: 1/2;
  grid-row: 15/18;
  padding: 0 16px;
  text-align: right;
}

.theme {
  display: grid;
  grid-template: auto / 25% auto 16px;
  grid-gap: 16px 0;
  font-size: 13px;
  color: #252525;
  letter-spacing: -0.08px;
  padding-top: 30px;
}

.theme > div {
  grid-column: 2/-2;
}

.theme > :nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0 16px;
  text-align: right;
  align-self: center;
}

.theme > :nth-child(8) {
  grid-column: 1/2;
  grid-row: 7/9;
  text-align: right;
  padding: 0 16px;
}

.theme > :nth-child(14) {
  grid-column: 1/2;
  grid-row: 12/16;
  text-align: right;
  padding: 0 16px;
}

.appearance {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.appearance > input[type="radio"] + label:before {
  background: attr(data-background color, red);
  color: attr(data-background color, red);
  border: 5px solid #FFF;
  box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.38);
  border-radius: 0;
  content: "\2713";
  display: inline-block;
  font: 13px sans-serif;
  height: 15px;
  margin: 0 17px 0;
  width: 30px;
  padding: 10px;
}

#greenClouds + label:before {
  background: #478484;
  color: #478484;
}

#autumnBeBlessed + label:before {
  background: #633738;
  color: #633738;
}

#graphiteCrystal + label:before {
  background: #1D1F21;
  color: #1D1F21;
}

#coffeeKisses + label:before {
  background: #A49898;
  color: #A49898;
}

#morningSwim + label:before {
  background: #567890;
  color: #567890;
}

.appearance > #greenClouds:checked + label:before,
.appearance > #autumnBeBlessed:checked + label:before,
.appearance > #graphiteCrystal:checked + label:before,
.appearance > #coffeeKisses:checked + label:before,
.appearance > #morningSwim:checked + label:before {
  color: #FFFFFF;
}

.sounds {
  display: flex;
}

.sounds > img {
  padding-left: 15px;
}

.about {
  display: grid;
  grid-template: auto auto/ 25% auto 25%;
  grid-gap: 16px 0;
  font-size: 13px;
  color: rgba(0,0,0,0.85);
  letter-spacing: 0px;
  padding-top: 85px;
  text-align: center;
}

.about > div {
  grid-column: 2/-2;
}

.about > :nth-child(1) {
  display: flex;
  flex-direction: column;
}

.about > :nth-child(1) > div {
  display: flex;
  justify-content: center;
}

.about > :nth-child(1) > div > img {
  height: 64px;
  width: 64px;
}

.about > :nth-child(1) > div > span {
  font-family: Open Sans;
  font-size: 48px;
  padding-left: 12px;
}

.about > :nth-child(1) > span {
  font-family: Open Sans Light;
  font-size: 20px;
  line-height: 30px;
}

.about > :nth-child(4) {
  display: inline-flex;
}

.about > :nth-child(4) > div {
  padding-left: 8px;
  text-align: left;
}

.about a {
  color: #000000;
  text-decoration: underline;
}

.about > :last-child {
  padding-top: 20px;
  margin-bottom: 6px;
}

.about > .debug {
  display: none;
  font-size: 11px;
  grid-column: 1/-1;
  margin: auto 20px;
}

.heart {
  display: grid;
  grid-template: auto / 6px 128px auto 14px;
  grid-gap: 15px 18px;
  font-size: 18px;
  color: rgba(0,0,0,0.85);
  letter-spacing: 0;
  padding-top: 52px;
}

.heart > div {
  grid-column: 3;
}

.heart > :nth-child(1) {
  grid-column: 2;
  grid-row: 1/4;
}

.heart > div > img {
  height: 128px;
  width: 128px;
}

.heart > :nth-child(2) > span {
  font-size: 36px;
}

.heart > .authenticate > span {
  font-size: 13px;
  letter-spacing: -0.08px;
}

.heart > .authenticate > a {
  padding-right: 20px;
  text-decoration: none;
}
