.greenClouds {
    color: #ffffff;
    background-color: #478484;
}

.autumnBeBlessed {
    color: #ffffff;
    background-color: #633738;
}

.heavenWhite {
    color: #000000;
    background-color: #ffffff;
}

.graphiteCrystal {
    color: #ffffff;
    background-color: #1D1F21;
}

.coffeeKisses {
    color: #ffffff;
    background-color: #A49898;
}

.morningSwim {
    color: #ffffff;
    background-color: #567890;
}

