.greenClouds {
    color: #ffffff;
    background-color: #478484;
}

.autumnBeBlessed {
    color: #ffffff;
    background-color: #633738;
}

.heavenWhite {
    color: #000000;
    background-color: #ffffff;
}

.heavenWhite .breaks > :nth-child(2) > a:hover {
    color: #ffffff;
}

.heavenWhite #postpone:hover,
.heavenWhite #close:hover {
    color: #000000;
}

.heavenWhite #postpone .tiptext,
.heavenWhite #close .tiptext  {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.heavenWhite .breaks > :nth-child(2) > a img {
    filter: hue-rotate(288deg) brightness(102%) contrast(102%);
  }
  
.heavenWhite .breaks > :nth-child(2) > a:hover img {
    filter: hue-rotate(359deg) brightness(101%) contrast(103%);
}

.graphiteCrystal {
    color: #ffffff;
    background-color: #1D1F21;
}

.coffeeKisses {
    color: #ffffff;
    background-color: #A49898;
}

.morningSwim {
    color: #ffffff;
    background-color: #567890;
}

