[Unit]
Description="Start stretchly"
After=default.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/stretchly
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=default.target
