name: Linux Snap build

on:
  push:
    branches:
      - release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '16.15.0'
    - run: npm install -g npm
    - run: npm install
    - run: node_modules/.bin/electron-builder --linux snap -c.snap.publish=github
      env:
        GH_TOKEN: ${{ secrets.github_token }}
    - name: Setup Snapcraft
      run: |
          sudo snap install snapcraft --classic
          echo "$SNAP_TOKEN" | snapcraft login --with -
          snapcraft upload --release=candidate ./dist/Stretchly_*.snap
      env:
        SNAP_TOKEN: ${{secrets.snap_token}}
