name: Node.js CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
    - name: Set Timezone
      uses: szenius/set-timezone@v1.1
      with:
        timezoneLinux: Europe/Amsterdam
        timezoneMacos: Europe/Amsterdam
        timezoneWindows: W. Europe Standard Time
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.17.1'
    - run: npm install npm@9 -g
    - run: npm install
    - run: npx nyc --reporter=lcov npm test
      env:
        CI: true
    - name: Codecov
      uses: codecov/codecov-action@v3
